* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #a44ec9;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #b03ab6;
  height: 60px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  /* Fix the navbar */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

nav h1 {
  font-size: 28px;
  font-weight: 500;
  color: #1faca8;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 20px;
  cursor: pointer;
  color: #1faca8;
  font-size: 20px;
  font-weight: 500;
}

nav ul li:hover {
  color: #08c8b5;
}

nav ul li.active {
  color: #08c8b5;
}

main {
  margin-top: 60px;
  padding: 20px;
}

main h1 {
  font-size: 24px;
  font-weight: 500;
  color: #1faca8;
}

main h2 {
  font-size: 16px;
  color: #1faca8;
}

main p {
  font-size: 16px;
  color: #1faca8;
}

main img {
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
  border-radius: 10px;
}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

#product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 250px;
  margin-bottom: 20px;
  background-color: #e91784;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.product:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.product img {
  width: 80%;
  align-items: center;
  border-radius: 10px;
}

.product .content {
  padding: 20px;
}

.product .content h2 {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.product .content p {
  font-size: 16px;
  color: #666;
}

.product .content .price {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.product .content .btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #49b681;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.product .content .btn:hover {
  background-color: #666;
}

.product .content .btn:active {
  background-color: #333;
}

.product .content .btn:focus {
  outline: none;
}

.product .content .btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.loading {
  color: #a4a3a3;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}

.error {
  color: rgb(216, 128, 128);
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}

.contacts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 250px;
  margin-bottom: 20px;
  background-color: #e91784;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.contacts img {
  width: 80%;
  align-items: center;
  border-radius: 100%;
}

.contacts .content {
  padding: 20px;
}

.contacts .content h2 {
  font-size: 18px;
  font-weight: 500;
  color: #ffef5d;
}

.contacts .content p {
  font-size: 16px;
  color: #ffef5d;
}
